<h1>Edit a chirp</h1>

<form action="<%= chirp_url(@chirp) %>" method="post">
  <input type="hidden" name="_method" value="patch">

  <label for="chirp_body">Body: </label>
  <input type="text" id="chirp_body" name="chirp[body]" value="<%= @chirp.body %>">

  <label>Author Id:
    <input type="text" name="chirp[author_id]" value="<%= @chirp.author_id %>">
  </label>

  <input type="submit" value="Update chirp">
</form>