<h1>LOOK AT THIS CHIRP</h1>

<%# ERB-VSCode-Snippets %>
<%# er  %> 
<%#= pe %>

<%# Simple Ruby ERB %>
<%# ctrl + shift + ` %>

<ul>
  <%#= render 'chirp', chirp: @chirp %>
  <%= render @chirp %>
</ul>